@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"); /*font-family: 'Bebas Neue', cursive;*/
@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap"); /*font-family: 'Saira Condensed', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
:root {
  --color-white: rgb(223, 223, 223);
  --color-white-trans: rgba(255, 255, 255, 0.884);
  --color-orange: rgb(255, 108, 71);
  --color-black: rgb(27, 27, 27);
  --color-black-trans: rgba(27, 27, 27, 0.466);
  --color-orange-light: rgb(255, 183, 125);
  --color-gray: rgb(73, 73, 73);
  --color-gray-dark: #333;
  --color-gray-light: rgb(122, 122, 122);
  --gradient-v1: rgba(0, 0, 0, 0.651);
  --gradient-v2: rgba(0, 0, 0, 0.329);
}

html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(rgba(0, 183, 255, 0.541),rgba(255, 255, 255, 0.473)),url("images/mount.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
/* dark theme */
.dark-theme {
  --color-black: rgb(223, 223, 223);
  --color-white: rgb(27, 27, 27);
  --gradient-v1: rgba(0, 0, 0, 0.952);
  --gradient-v2: rgba(0, 0, 0, 0);
}
#dark-mode {
  /* padding-top: 0.8rem; */
  width: 30px;
  height: 30px;
  cursor: pointer;
}
/* narbar */
.header {
  position: sticky;
  height: auto;
  z-index: 1000;
  background-color: #0f0f0d;
}
.navbar {
  flex-direction: row;
  background-color: transparent;
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  transition: 0.4s all;
  height: 6rem;
}
.nav-items {
  display: flex;
  /* margin-left: 3rem; */
  align-items: center;
}
.nav-item {
  list-style: none;
  align-self: center;
  font-size: 2rem;
  font-family: "Nunito", sans-serif;
  transition: 0.3s opacity;
}
.item-right {
  margin-right: 3rem;
}
.nav-link {
  text-decoration: none;
  background-color: transparent;
  color: #fff;
  text-align: center;
  padding: 0 1em;
  transition: all 300ms ease-out;
}
.nav-link:hover {
  /* opacity: 0.8; */
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 1.5em;

}
.nav-brand {
  text-decoration: none;
  /* color: var(--color-orange-light); */
  color: var(--color-white);
  font-size: 4rem;
  align-self: center;
  font-family: "Cookie", cursive;
}

main{
    display: relative;
    /* background-color: var(--color-black-trans); */
    padding-top: 10em;
    box-sizing: border-box;
    font-size: 1.6em;
    font-family: 'Raleway';
}

.container{
    margin: 3em auto;
    width: 50vw;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--color-white-trans);
    border-radius: 15px;    
}

.popup{
    margin: 0 auto;
    text-align: center;
    
}

.popup h2{
    padding: 1.2em;
}

.popup input{
    display: block;
    outline: none;
    width: 90%;
    font-size: 1em;
    padding: .5em;
    margin: 2em 10px;
    border-radius: 4px;
}

.popup a{
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    border-radius: 6px;
    padding: .5em;
    margin: 2em 10px;
    width: 91%;
    background-size: 200% auto;
    background-image: linear-gradient(to right, rgb(29, 28, 28) 0%, rgb(97, 95, 95) 50%, rgb(29, 28, 28) 100%);
    /* background-image: linear-gradient(to right, #895cf2 0%, #ffabf4 50%, #895cf2 100%); */
    color: white;
    transition: 0.5s;
}

.popup a:hover{
    background-position: right center;
}